#view-monster-button {
  .view-container {
    padding: 3px;
    border-radius: 6px;
    &.selected {
      background-color: black;
      cursor:default;
      img {
        filter: invert(1);
      }
    }
  }
  img {
    height: 29px;
  }
}
