<ng-container *ngIf="show">
  <div id="dialog" [@fadeInOnEnter] [@fadeOutOnLeave]>
    <div class="dialog-container">
      <div class="text">
        {{description}}
      </div>
      <div>
        <div *ngFor="let selection of selections" class="text d-flex justify-content-evenly">
          <div class="d-flex">
            <div>
              <sw-pushable-button (click)="decrement(selection.statType)">
                <div class="button-default">-</div>
              </sw-pushable-button>
            </div>
            <div [style.width]="'120px'" [style.textAlign]="'center'">{{selection.statType}}</div>
            <div>
              <sw-pushable-button (click)="increment(selection.statType)">
                <div class="button-default">+</div>
              </sw-pushable-button>
            </div>
          </div>
          <div class="d-flex" [style.width]="'100px'">
            <ng-container *ngIf="selection.amount > 0">
              <ng-container *ngFor="let _ of [].constructor(selection.amount)">
                <div>
                  <span class="stat-pip"></span>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <sw-pushable-button [isActive]="getTotal() > 0">
        <div class="acknowledge-button" (click)="submit()" >Submit</div>
      </sw-pushable-button>
    </div>
  </div>
</ng-container>