@import '../../../../../assets/styles/constants.scss';

#buff:hover {
  box-shadow: $shadow;
}

#buff {
  position: relative;
  width: 250px;
  height: 216px;
  border: 4px solid black;
  border-radius: 6px;
  cursor: pointer;

  .monster-img {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 50px;
  }

  &.death {
    background-image: url("../../../../../assets/images/backgrounds/buff/death.png");
  }

  &.deathrock {
    background-image: url("../../../../../assets/images/backgrounds/buff/deathrock.png");
  }

  &.deathwater {
    background-image: url("../../../../../assets/images/backgrounds/buff/deathwater.png");
  }

  &.electric {
    background-image: url("../../../../../assets/images/backgrounds/buff/electric.png");
  }

  &.electricfire {
    background-image: url("../../../../../assets/images/backgrounds/buff/electricfire.png");
  }

  &.fire {
    background-image: url("../../../../../assets/images/backgrounds/buff/fire.png");
  }

  &.fireleaf {
    background-image: url("../../../../../assets/images/backgrounds/buff/fireleaf.png");
  }

  &.leaf {
    background-image: url("../../../../../assets/images/backgrounds/buff/leaf.png");
  }

  &.leafrock {
    background-image: url("../../../../../assets/images/backgrounds/buff/leafrock.png");
  }

  &.leafwater {
    background-image: url("../../../../../assets/images/backgrounds/buff/leafwater.png");
  }

  &.rock {
    background-image: url("../../../../../assets/images/backgrounds/buff/rock.png");
  }

  &.water {
    background-image: url("../../../../../assets/images/backgrounds/buff/water.png");
  }

  .team-aura-container {
    font-family: $text-font;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    line-height: 21px;
    img {
      height: 25px;
    }
  }

  .apply-as {
    position: absolute;
    height: 130px;
    width: 60px;
    background: black;
    top: 82px;
    z-index: 100;
    &.applied {
      background-color: green;
      border: 4px solid black;
    }
    &.buff {
      left: -60px;
      border-radius: 4px 0px 0px 4px;
    }
    &.discard {
      right: -60px;
      border-radius: 0px 4px 4px 0px;
    }
    div {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
    img {
      height: 60px;
      transition: transform 0.1s;
    }
    &.hovering:hover {
      background-color: green;
      border: 4px solid black;
        &.applied {
          background-color: black;
        }
    }
  }
}

