<div id="buff" 
  [ngClass]="{'tutorial-highlight' : isBuffHighlighted}" 
  class="sw-card-hover {{backgroundClass}}"
  cardInfoTooltip 
  [object]="buff" 
  tooltipType="BUFF" 
  [@fadeInOnEnter]
  [@fadeOutOnLeave]
  >
  <div class="sw-card-title">
    {{buff.name}}
  </div>
  <div>
    <ng-container *ngIf="isHovering && enabled">
      <div *ngIf="displayApplyToBuffButton" 
        class="apply-as buff"  
        [ngClass]="{'applied' : isAppliedAsBuff}" 
        (click)="applyAsBuff()">
        <div>
          <img [src]="buffPath" />
        </div>
      </div>
      <div *ngIf="displayApplyToDiscardButton" 
      class="apply-as discard" 
      [ngClass]="{'applied' : isAppliedAsDiscard}" 
      (click)="applyAsDiscard()">
        <div>
          <img [src]="discardPath" />
        </div>
      </div>
    </ng-container>
    <div class="sw-card-text-container">
      <div *ngIf="buff.auraDuration" class="team-aura-container">
        <div>{{buff.auraDuration}}</div>
        <img [src]="teamAuraPath" />
      </div>
      <div class="text" 
        [innerHTML]=" buff.text | convertEmbeddedText : { excludeTerms: true }"
        [ngClass]="{'tutorial-highlight' : isBuffTextHighlighted}"></div>
    </div>
    <img class="monster-img" [src]="monsterPath" [ngClass]="{'tutorial-highlight' : isBuffMonsterHighlighted}"  />
  </div>
</div>
