@import '../../../../../assets/styles/constants.scss';


#arena {
  background-size: cover;
  background-position: center center;
  height: 100vh;

  &.fall {
    background-image: url("../../../../../assets/images/backgrounds/arena/fall.png");
  }

  &.frozen {
    background-image: url("../../../../../assets/images/backgrounds/arena/frozen.png");
  }

  &.moon {
    background-image: url("../../../../../assets/images/backgrounds/arena/moon.png");
  }

  &.jungle {
    background-image: url("../../../../../assets/images/backgrounds/arena/jungle.png");
  }

  &.volcano {
    background-image: url("../../../../../assets/images/backgrounds/arena/volcano.png");
  }

}

#game {
  margin: 0 5px;
  // height: 924px;
  padding-bottom: 10px;

  .modifier-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 5px 0px 0px;
    &.opponent {
      align-items: flex-start;
      margin: 0px 0px 0px 5px;
    }
  }
  
  .monsters-container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .monster-container {
      display: flex;
    }
  }

  .opponent-container {
    height: 50px;
  }

  .actions-container {
    background-color: #6363637d;
    border-radius: 4px;
    padding: 12px;
    width: 1770px;
    margin-top: 5px;
  }

  .whose-actions {
    position: absolute;
    font-size: 25px;
  }

  .action-container {
    display: grid;
    grid-template-columns: 320px auto;
    .inactive-monster-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1440px) {
  #arena {
    max-width: 1440px;
    min-width: unset;
    .monster-container {
    }
  }
}