<div id="arena" [class]="arena">
  <sw-game-over [winner]="winner" />
  <div id="game">
    <div *ngIf="!winner">
      <div class="d-flex align-items-center">
        <sw-stat-board [statBoard]="statBoard" [isPlayer]="true" />
        <div class="monsters-container">
          <div class="monster-container">
            <div class="modifier-container">
              <sw-modifiers [modifiers]="modifiers" [selectedAction]="selectedAction" [hide]="hideModifiers" />
              <sw-status-effects [modifiers]="modifiers" />
            </div>
            <div>
              <sw-monster [monster]="activeMonster" [isActiveMonster]="true" [playerType]="activePlayerType" />
            </div>
          </div>
          <div class="monster-container">
            <div>
              <sw-monster [monster]="oActiveMonster" [isActiveMonster]="true" [isOpponent]="true"
                [cardsInMyOpponentsHand]="cardsInMyOpponentsHand" [playerType]="opponentPlayerType"/>
            </div>
            <div class="modifier-container opponent">
              <sw-modifiers [modifiers]="oModifiers" [selectedAction]="oSelectedAction" [hide]="hideModifiers" [isOpponent]="true" />
              <sw-status-effects [modifiers]="oModifiers" />
            </div>
          </div>
        </div>
        <sw-stat-board [statBoard]="oStatBoard" [disable]="true" [isPlayer]="false" />
      </div>
      <div class="d-flex justify-content-center">
        <div class="actions-container">
          <div class="header outline whose-actions">
            {{ isViewingOpponentActions ? 'Enemy Actions' : 'Your Actions' }} {{ monsterActionsBeingViewed.length ? ' - ' + monsterActionsBeingViewed[0].monsterName : '' }}
          </div>
          <div class="d-flex justify-content-evenly" [style.marginBottom]="'8px'">
            <div>
              <sw-submit-action-button [viewingOtherMonstersActions]="!isViewingActiveMonster" />
            </div>
          </div>
          <div class="action-container">
            <div class="inactive-monster-container">
              <ng-container *ngFor="let monster of (isViewingOpponentActions ? oInactiveMonsters : inactiveMonsters)">
                <sw-monster [monster]="monster" [isActiveMonster]="false" [cardsInHand]="cardsInMyHand" [disable]="!isViewingActiveMonster" [isOpponent]="isViewingOpponentActions" [playerType]="isViewingOpponentActions ? opponentPlayerType : activePlayerType" />
              </ng-container>
            </div>
            <div>
              <sw-monster-action-grid [actions]="monsterActionsBeingViewed"
                [cardsInHand]="cardsInMyHand" [disable]="!isViewingActiveMonster" />
              <sw-player-hand [hide]="isViewingOpponentActions" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<sw-dialog [hide]="!!winner" />
<sw-switch-out-dialog />
<sw-koswitch-out-dialog />
<sw-crush-dialog />
<sw-disable-monster-action-dialog />
<sw-tutorial *ngIf="isTutorial" [section]="tutorialSection" />