@import '../../../../../assets/styles/constants.scss';

#arena {
  background-size: cover;
  background-position-x: center;
  min-width: 1780px;
  height: 100vh;
  padding-top: 10px;

  &.fall {
    background-image: url("../../../../../assets/images/backgrounds/arena/fall.png");
  }

  &.frozen {
    background-image: url("../../../../../assets/images/backgrounds/arena/frozen.png");
  }

  &.moon {
    background-image: url("../../../../../assets/images/backgrounds/arena/moon.png");
  }

  &.jungle {
    background-image: url("../../../../../assets/images/backgrounds/arena/jungle.png");
  }

  &.volcano {
    background-image: url("../../../../../assets/images/backgrounds/arena/volcano.png");
  }

}

#game {
  margin: 0 40px;
  // height: 924px;
  padding-bottom: 10px;

  .modifier-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    &.opponent {
      align-items: flex-start;
    }
  }
  
  .monsters-container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .monster-container {
      display: flex;
    }
  }

  .opponent-container {
    height: 50px;
  }

  .actions-container {
    background-color: #6363637d;
    border-radius: 4px;
    padding: 12px;
    max-width: 1770px;
  }

  .whose-actions {
    position: absolute;
    font-family: $header-font;
    color: black;
    text-shadow: $text-shadow-border;
    font-size: 25px;
  }

  .action-container {
    display: grid;
    grid-template-columns: 320px max-content;
    .inactive-monster-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}