#arena {
  background-image: url("../../../../../assets/images/backgrounds/arena/frozen.png");
  background-size: cover;
  background-position-x: center;
}

#game {
  margin: 0 40px;
  // height: 924px;
  padding-bottom: 10px;

  .opponent-container {
    height: 150px;
  }

  .actions-container {
    background-color: #6363637d;
    border-radius: 4px;
    padding: 12px;
  }

  .action-container {
    display: grid;
    grid-template-columns: 270px max-content;
    .inactive-monster-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}