<div id="arena" [class]="arena">
  <div id="game">
    <div class="opponent-container">

    </div>
    <div class="d-flex">
      <sw-stat-board [statBoard]="statBoard" />
      <div class="monsters-container">
        <sw-monster [monster]="activeMonster" [isActive]="true" />
        <sw-monster [monster]="oActiveMonster" [isActive]="true" [isOpponent]="true" />
      </div>
      <sw-stat-board [statBoard]="oStatBoard" [disable]="true" />
    </div>
    <div class="actions-container">
      <div class="d-flex justify-content-center">
        <sw-submit-action-button />
      </div>
      <div class="action-container">
        <div class="inactive-monster-container">
          <ng-container *ngFor="let monster of inactiveMonsters">
            <sw-pushable-button>
              <sw-monster [monster]="monster" [isActive]="false" />
            </sw-pushable-button>
          </ng-container>
        </div>
        <div>
          <sw-monster-action-grid [actions]="activeMonster.actions" />
          <sw-player-hand />
        </div>
      </div>
    </div>
  </div>
</div>
<sw-dialog />