<ng-container *ngIf="isActiveMonster && !isOpponent">
  <div 
    [@slideOutLeft]="switchingOut" 
    (@slideOutLeft.done)="aniDone($event)" 
    [@slideInLeft]="switchingIn" 
    (@slideInLeft.done)="aniDone($event)"
  >
    <ng-container *ngTemplateOutlet="base">
      <ng-container *ngTemplateOutlet="monsterTemplate"></ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="isActiveMonster && isOpponent">
  <div
    [@slideOutRight]="switchingOut" 
    (@slideOutRight.done)="aniDone($event)" 
    [@slideInRight]="switchingIn" 
    (@slideInRight.done)="aniDone($event)"
  >
    <ng-container *ngTemplateOutlet="base">
      <ng-container *ngTemplateOutlet="monsterTemplate"></ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="!isActiveMonster">
  <sw-pushable-button [isActive]="cardsInHand >= 2 && enabled && !disable">
    <ng-container *ngTemplateOutlet="monsterTemplate"></ng-container>
  </sw-pushable-button>
</ng-container>

<ng-template #base>
  <div>
    <ng-container *ngTemplateOutlet="monsterTemplate"></ng-container>
  </div>
</ng-template>

<ng-template #monsterTemplate>
  <div id="monster" (click)="onSelect()">
    <div class="monster-container {{backgroundClass}}" [ngClass]="{
        'inactive' : !isActiveMonster, 
        'selected' : selected, 
        'unselectable': (cardsInHand < 2 && !isActiveMonster) || !enabled || monster.currentHp === 0 || disable,
        'tutorial-highlight' : isBenchedMonsterHighlighted
      }">
      <div
        [@wobble]="attacking" 
        (@wobble.done)="aniDone($event)" 
        [@flash]="takingDamage" 
        (@flash.done)="aniDone($event)"
        [@rubberBand]="usingSpecial" 
        (@rubberBand.done)="aniDone($event)">
        <div [ngClass]="{'tutorial-highlight' : isMonsterHighlighted}">
          <img [src]="monsterIcon" 
            cardInfoTooltip 
            [ngClass]="{
              'reverse' : isOpponent,
            }"
            [object]="monster"
            tooltipType="MONSTER"
          />
        </div>
      </div>
      <div *ngIf="!isActiveMonster" class="discard-container">
        <img [ngClass]="{'selected' : numDiscards > 0}" [src]="discardIcon" />
        <img [ngClass]="{'selected' : numDiscards > 1}" [src]="discardIcon" />
      </div>
      <sw-monster-hp [hp]="monster.hp" [currentHp]="monster.currentHp" [initiative]="monster.initiative" />
      <div class="d-flex">
        <div [style.marginRight]="'5px'">
          <sw-monster-element-breakdown [style.width]="'100%'" [weaknesses]="monster.weaknesses"
            [resistances]="monster.resistances" [switchDefense]="monster.switchDefense" />
        </div>
        <div *ngIf="isActiveMonster && isOpponent" 
          class="hand-of-cards"
          [ngClass]="{'tutorial-highlight' : isOpponentHandHighlighted}">
          <div>
            {{cardsInMyOpponentsHand}}
          </div>
          <div>
            <img [src]="handIcon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>