@import '../../../../../assets/styles/constants.scss';

#inactive-container {
  display: flex;
  align-items: center;
  .view-button-container {
    margin-right: 10px;
    font-family: $text-font;
    .view-text {
      padding: 3px;
    }
  }
}

#monster {

  .monster-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    font-family: $header-font;
    font-size: 21px;
    line-height: 70%;

    
    img {
      height: 330px;
      cursor: pointer;
      animation: idle 3s infinite;
      &.reverse {
        animation: idleEnemy 3.5s infinite;
      }
    }

    .hand-of-cards {
      display: flex;
      align-items: center;
      width: min-content;
      background: black;
      border-radius: 6px;
      padding: 0 8px;
      div:first-child {
        color: white;
        font-size: 25px;
        margin-right: 3px;
      }
      img {
        height: 25px;
        filter: invert(1);
      }
    }

    &.inactive:hover {
      filter: brightness(100%);
    }
    &.unselectable:hover {
      filter: brightness(85%);
    }
    &.inactive {
      border-radius: 4px;
      padding: 3px;
      width: 255px;
      filter: brightness(85%);
      transition: filter 0.3s ease;

      .discard-container {
        position: absolute;
        right: 0px;
        display: flex;
        img {
          height: 25px;
          margin-right: 5px;
          &.selected {
            filter: invert(1);
          }
        }
      }

      img {
        height: 128px;
        animation: unset;
      }

      &.selected {
        filter: brightness(100%);
      }

      &.death {
        background-image: url("../../../../../assets/images/backgrounds/buff/death.png");
      }

      &.deathrock {
        background-image: url("../../../../../assets/images/backgrounds/buff/deathrock.png");
      }

      &.deathwater {
        background-image: url("../../../../../assets/images/backgrounds/buff/deathwater.png");
      }

      &.electric {
        background-image: url("../../../../../assets/images/backgrounds/buff/electric.png");
      }

      &.electricfire {
        background-image: url("../../../../../assets/images/backgrounds/buff/electricfire.png");
      }

      &.electricleaf {
        background-image: url("../../../../../assets/images/backgrounds/buff/electricleaf.png");
      }

      &.fire {
        background-image: url("../../../../../assets/images/backgrounds/buff/fire.png");
      }

      &.fireleaf {
        background-image: url("../../../../../assets/images/backgrounds/buff/fireleaf.png");
      }

      &.firerock {
        background-image: url("../../../../../assets/images/backgrounds/buff/firerock.png");
      }

      &.leaf {
        background-image: url("../../../../../assets/images/backgrounds/buff/leaf.png");
      }

      &.leafrock {
        background-image: url("../../../../../assets/images/backgrounds/buff/leafrock.png");
      }

      &.leafwater {
        background-image: url("../../../../../assets/images/backgrounds/buff/leafwater.png");
      }

      &.rock {
        background-image: url("../../../../../assets/images/backgrounds/buff/rock.png");
      }

      &.water {
        background-image: url("../../../../../assets/images/backgrounds/buff/water.png");
      }
    }

  }


  @keyframes idle {
    0%, 100% {
      transform: translateX(-5px) scale(1);
    }
    50% {
      transform: translateX(5px)  scale(1.02);
    }
  }
  @keyframes idleEnemy {
    0%, 100% {
      transform: scale(1) scaleX(-1) translateX(-5px);
    }
    50% {
      transform: scale(1.02) scaleX(-1) translateX(5px);
    }
  }
  

}