<div id="monster" (click)="onSelect()">
  <div class="monster-container {{!isActive ? 'inactive' : ''}} {{selected ? 'selected' : ''}}" [ngClass]="backgroundClass" >
    <img [src]="monsterIcon" 
      cardInfoTooltip
      class="{{isOpponent ? 'reverse' : ''}}"
      [object]="monster" 
      tooltipType="MONSTER" />
    <div *ngIf="!isActive" class="discard-container">
      <img [ngClass]="{'selected' : numDiscards > 0}" [src]="discardIcon" />
      <img [ngClass]="{'selected' : numDiscards > 1}" [src]="discardIcon" />
    </div>
    <sw-monster-hp [hp]="monster.hp" 
      [currentHp]="monster.currentHp" 
      [initiative]="monster.initiative" />
    <sw-monster-element-breakdown [style.width]="'100%'" [weaknesses]="monster.weaknesses"
      [resistances]="monster.resistances"
      [switchDefense]="monster.switchDefense"/>
  </div>
</div>