<div id="monster-hp">
  <div class="d-flex" [ngClass]="{'tutorial-highlight' : isHpHighlighted}">
    <div class="hp">{{ currentHp }}/{{ hp }}</div>
    <div class="hp-bar d-flex">
      <ng-container *ngFor="let _ of [].constructor(hp); let i = index">
        <div class="hp-chunk" [ngClass]="{'damaged' : (i + 1) > currentHp}"></div>
      </ng-container>
    </div>
  </div>
  <div class="initiative" [ngClass]="{'tutorial-highlight' : isInitiativeHighlighted}">
    <div>{{ initiative }}</div>
  </div>
</div>