<div id="tutorial" [ngClass]="{'top' : section.isTop, 'hidden': hide}" (click)="next()">
  <div class="tutorial-container">
    <div class="prof-holt">
      <img [src]="profHolt" />
    </div>
    <div class="text" [innerHTML]="section.text | convertEmbeddedText : { excludeTerms: true, imageCss: 'tutorial-invert', termCss: 'embedded-term-text' }">
      <div *ngIf="audioPlayer?.nativeElement?.paused">
        <br>
        (Click to proceed)
      </div>
    </div>
  </div>
  <audio #audio>
    <source [src]="audioSrc" type="audio/wav">
    Your browser does not support the audio element.
  </audio>
</div>