<div id="monster-tooltip"
  #ref
  *ngIf="show" 
  class="tooltip-container" 
  [style.left]="left + 'px'" 
  [style.top]="top + 'px'" 
  [@slideInRightOnEnter] 
  [@fadeOutOnLeave] 
  (@fadeOutOnLeave.done)="aniDone($event)">
  <sw-term-tooltip [title]="monster.name" [elements]="monster.getElementIcons()" />
  <div class="dot">• • •</div>
  <sw-term-tooltip *ngIf="monster.switchIn" title="Switch In" [description]="monster.switchIn" />
  <div *ngIf="monster.switchIn && monster.passive" class="dot">• • •</div>
  <sw-term-tooltip *ngIf="monster.passive" title="Passive" [description]="monster.passive" />
  <div *ngIf="terms.length" class="dot">• • •</div>
  <div class="term-container" *ngFor="let term of terms; index as i">
    <sw-term-tooltip [title]="term.name" [description]="term.value" />
    <div *ngIf="i < terms.length - 1" class="dot">• • •</div>
  </div>
</div>