#game {
  margin: 40px;

  .action-container {
    display: grid;
    grid-template-columns: 270px max-content;
    .inactive-monster-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}