<div id="monster-element-breakdown">
  <div class="element-info-container mr-1">
    <div class="type">
      <img [src]="superEffectiveIcon">
    </div>
    <div class="elements">
      <ng-container *ngFor="let element of weaknesses" class="elements">
        <img class="element-icon" [src]="ImageUtil.getElementsPath(element)">
      </ng-container>
    </div>
  </div>
  <div class="element-info-container">
    <div class="elements">
      <ng-container *ngFor="let element of resistances">
        <img class="element-icon" [src]="ImageUtil.getElementsPath(element)">
      </ng-container>
    </div>
    <div class="type defense">
      <div class="defense-value">{{switchDefense}}</div>
      <img [src]="switchDefenseIcon">
    </div>
  </div>
</div>