<div id="stat-board-section">
  <div class="stat-board-section-container">
    <div>
      <sw-pushable-button [isActive]="statBoardSection.current > 0 && !disable">
        <div class="stat-board-section-button" (click)="onSelect()">
          <div>
            <img [src]="icon">
          </div>
          <div class="pip-container">
            <ng-container *ngFor="let _ of [].constructor(statBoardSection.current)">
              <div class="circle occupied" [@bounceInOnEnter] ></div>
            </ng-container>
            <ng-container *ngFor="let _ of [].constructor(statBoardSection.max - statBoardSection.current)">
              <div class="circle open"></div>
            </ng-container>
          </div>
        </div>
      </sw-pushable-button>
    </div>
    <div *ngIf="isApplied" [@slideInLeftOnEnter] [@fadeOutOnLeave] [@fadeInOnEnter]>
      <img class="arrow" [src]="arrowSrc" />
    </div>
  </div>
</div>