<sw-pushable-button>
  <div id="stat-board-section" [ngClass]="{'applied' : statBoardSection.isApplied}" (click)="onSelect()"
    [@pulse]="aniState && this.statBoardSection.isApplied" (@pulse.done)="aniDone()">
    <div>
      <img [src]="icon">
    </div>
    <div class="pip-container">
      <ng-container *ngFor="let _ of [].constructor(statBoardSection.current)">
        <div class="circle occupied"></div>
      </ng-container>
      <ng-container *ngFor="let _ of [].constructor(statBoardSection.max - statBoardSection.current)">
        <div class="circle open"></div>
      </ng-container>
    </div>
  </div>
</sw-pushable-button>