@import '../../../../../assets/styles/constants.scss';

#game-over {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: $text-font;

  img {
    height: 300px;
  }

  .game-over-container {
    margin-top: 50px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000094;
    border-radius: 4px;
    padding: 10px;

    .winner-text {
      font-size: 50px;
      font-family: $text-font;
      text-shadow: $text-shadow-border;
      color: black;
    }

  }
}