<ng-container *ngIf="winner">
  <div id="game-over" [@slideInLeftOnEnter]>
    <div class="game-over-container">
      <img [src]="winner === 'P' ? winAvatar : loseAvatar" />
      <div class="winner-text">
        {{winner === 'P' ? 'You won!' : 'You lost!'}}
      </div>
      <div class="buttons-container">
        <sw-pushable-button *ngIf="!isTutorial">
          <div class="acknowledge-button" (click)="playAgain()">Play Again</div>
        </sw-pushable-button>
        <sw-pushable-button *ngIf="isCustomGame">
          <div class="acknowledge-button" (click)="changeMonsters()">Change Monsters</div>
        </sw-pushable-button>
        <sw-pushable-button>
          <div class="acknowledge-button" (click)="returnToTitleScreen()">Return to title screen</div>
        </sw-pushable-button>
      </div>
    </div>
  </div>
</ng-container>