<ng-container *ngIf="winner">
  <div id="game-over" [@slideInLeftOnEnter]>
    <div class="game-over-container">
      <img [src]="winner === activePlayer ? winAvatar : loseAvatar" />
      <div class="winner-text">
        {{winner === activePlayer ? 'You won!' : 'You lost!'}}
      </div>
      <div class="common-buttons-container">
        <div class="button">
          <sw-pushable-button *ngIf="!isTutorial">
            <div class="button-face" (click)="playAgain()">Play Again</div>
          </sw-pushable-button>
        </div>
        <div class="button">
          <sw-pushable-button *ngIf="!isTutorial">
            <div class="button-face" (click)="changeMonsters()">Change Monsters</div>
          </sw-pushable-button>
        </div>
        <div class="button">
          <sw-pushable-button>
            <div class="button-face" (click)="returnToTitleScreen()">Return to title screen</div>
          </sw-pushable-button>
        </div>
      </div>
    </div>
  </div>
</ng-container>