<div id="modifiers">
  <div class="mods-container" *ngIf="!hide">
    <div class="action-name" [style.font-size]="getFontSize(selectedAction?.action?.getDisplayName()?.length)">
      {{selectedAction?.action?.getDisplayName()}}</div>
    <div *ngIf="selectedAction?.action?.getSelectableActionType() === 'MONSTER'" class="mod stats"
      [ngClass]="{'has-mods' : this.displayModifiers.length > 0}">
      <div *ngIf="attack" class="stat">
        {{attack}}
        <img [src]="attackIcon" />
      </div>
      <div *ngIf="speed" class="stat">
        {{speed}}
        <img [src]="speedIcon" />
      </div>
      <div *ngIf="defense" class="stat">
        {{defense}}
        <img [src]="defenseIcon" />
      </div>
    </div>
    <div class="mod" *ngFor="let mod of displayModifiers, index as i"
      [ngClass]="{'middle' : displayModifiers.length !== 1 && (i < displayModifiers.length - 1)}">
      <span [@fadeInOnEnter] [@fadeOutOnLeave] class="text">
        {{mod}}
      </span>
    </div>
  </div>
  <div class="mods-container buffs" [ngClass]="{ 'margin-top' : hide }" *ngIf="displayBuffs">
    <div class="title">Applied Buffs</div>
    <div class="buffs-container">
      <ul class="mod" *ngFor="let buff of selectedAction?.appliedBuffs">
        <li class="text">
        <div
        cardInfoTooltip
        tooltipType="SIMPLE"
        [object]="getBuffTooltip(buff)">
          {{buff.name}}
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>