<div id="modifiers">
  <div class="mods-container" *ngIf="!hide">
    <div *ngIf="selectedAction" class="mod stats" [ngClass]="{'has-mods' : this.displayModifiers.length > 0}">
      <div *ngIf="attack"class="stat">
        {{attack}}
        <img [src]="attackIcon" />
      </div>
      <div *ngIf="speed" class="stat">
        {{speed}}
        <img [src]="speedIcon" />
      </div>
      <div *ngIf="defense" class="stat">
        {{defense}}
        <img [src]="defenseIcon" />
      </div>
    </div>
    <div class="mod" *ngFor="let mod of displayModifiers, index as i"  [ngClass]="{'middle' : displayModifiers.length !== 1 && (i < displayModifiers.length - 1)}">
      <span  
        [@fadeInOnEnter]
        [@fadeOutOnLeave] 
        class="text"
      >
          {{mod}}
      </span>
    </div>
  </div>
</div>