@import '../../../../../assets/styles/constants.scss';

#modifiers {
  width: 170px;
  .mods-container {
    background-color: black;
    border-radius: 4px;
    padding: 1px 5px;
    .mod {
      display: flex;
      align-items: center;
      padding: 5px 0px;
      justify-content: flex-end;
      &.opponent {
        justify-content: unset;
      }
      &.middle {
        border-bottom: 1px solid white;
      }
      .text {
        font-family: $header-font;
        color: white;
        line-height: 70%;
        font-size: 20px;
      }
    }
  }
}