@import '../../../../../assets/styles/constants.scss';

#modifiers {
  width: 215px;
  font-family: $header-font;
  color: white;
  line-height: 70%;
  .mods-container {
    background-color: #000000c2;
    border-radius: 4px;
    padding: 1px 5px;
    margin-bottom: 5px;
    .action-name {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid white;
    }
    .mod {
      display: flex;
      align-items: center;
      padding: 5px 0px;
      justify-content: flex-end;
      font-size: 40px;
      &.stats {
        justify-content: space-evenly;
        &.has-mods {
          border-bottom: 1px solid white;
        }
        .stat {
          display: flex;
          align-items: center;
        }
        img {
          height: 28px;
          filter: (invert(100%));
        }
      }
      &.opponent {
        justify-content: unset;
      }
      &.middle {
        border-bottom: 1px solid white;
      }
      .text {
        font-family: $header-font;
        color: white;
        line-height: 70%;
        font-size: 20px;
      }
    }
    &.buffs {
      .title {
        font-size: 30px;
        border-bottom: 1px solid white;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .buffs-container {
        margin-left: 22px
      }
      .mod {
        padding: unset;
        justify-content: flex-start !important;
      }
      ul {
        margin-bottom: unset;
      }
      li {
        line-height: 100% !important;
      }
    }
  }
}