<sw-pushable-button [isActive]="!(action.isDisabled || action.isLocked) && cardsInHand >= action.discards && enabled && !disable" >
  <div id="monster-action"
    class="{{action.element.toString().toLowerCase()}}-action"
    (click)="selectAction()" 
    [ngClass]="{
      'selected' : isSelected, 
      'unselectable': action.isDisabled || action.isLocked || cardsInHand < action.discards || disable,
      }" 
      cardInfoTooltip [object]="action" tooltipType="ACTION">
      <div [ngClass]="{'disabled' : action.isDisabled, 'locked' : action.isLocked}">
    <div class="title-container sw-card-title">
      {{action.name}}
    </div>
    <div class="stat-container">
      <div class="stat-section">
        <div *ngIf="action.attack">
          <span>{{action.attack}}
            <img [src]="attackImg">
          </span>
        </div>
        <div *ngIf="action.isStatus">
          <img [src]="statusImg" />
        </div>
        <div>
          <img [src]="elementImg">
        </div>
        <div *ngIf="action.speed">
          <span>{{action.speed}}
            <img [src]="speedImg">
          </span>
        </div>
      </div>
      <div class="stat-section cards">
        <div class="icons-container">
          <sw-monster-action-card-icons [action]="action" />
        </div>
      </div>
    </div>
    <div class="sw-card-text-container">
      <div [innerHTML]="action.text | convertEmbeddedText : { excludeTerms: true }" class="text"></div>
    </div>
  </div>
  </div>
</sw-pushable-button>