@import '../../../../../../assets/styles/constants.scss';

#monster-action:hover {
  filter: brightness(100%);
}

#monster-action {
  width: 300px;
  height: 200px;
  border-radius: 6px;
  position: relative;
  background: white;
  cursor: pointer;
  // filter: brightness(85%);
  
  .action-container {
    height: 100%;
    border-radius: 6px;
    transition: filter 0.3s ease;
    filter: brightness(85%);
    &.selected {
      filter: brightness(100%);
    }
    &.unselectable {
      filter: brightness(85%);
    }
    &.unselectable:hover {
      filter: brightness(85%);
    }
  }

  .action-container:hover:not(.unselectable) {
    filter: brightness(100%);
  }

  .disabled, .locked {
    background-size: 130px;
    background-position: center;
    height: inherit;
    background-repeat: no-repeat;
    background-position-y: 65px;
  }

  .disabled {
    background-image: url('../../../../../../assets/images/symbols/lock.png');
  }

  .locked {
    background-image: url('../../../../../../assets/images/symbols/single-use.png');
  }

  .sw-card-title {
    border-radius: 4px 4px 0px 0px;
    padding: 4px;
  }

  .stat-container {
    padding: 3px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: $header-font;
    font-size: 30px;
    line-height: 70%;
    color: black;
    border-bottom: 2px solid black;
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffffc7;

    .stat-section {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .stat-section:first-child {
      border-right: 1px solid black;
    }

    span {
      display: flex;
      align-items: center;
    }

    img {
      height: 22px;
    }
  }

}

@media screen and (max-width: 1440px) {
  #monster-action {
    width: 220px;
  }
}