@import '../../../../../../styles.scss';
@import '../../../../../../assets/styles/constants.scss';

#monster-action:hover {
  filter: brightness(100%);
}

#monster-action {
  width: 300px;
  height: 200px;
  border-radius: 6px;
  position: relative;
  background: white;
  cursor: pointer;
  filter: brightness(85%);
  transition: filter 0.3s ease;

  &.selected {
    filter: brightness(100%);
  }
  &.unselectable:hover {
    filter: brightness(85%);
  }

  .sw-card-title {
    border-radius: 4px 4px 0px 0px;
    padding: 4px;
  }

  .stat-container {
    padding: 3px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: $header-font;
    font-size: 30px;
    line-height: 70%;
    color: black;
    border-bottom: 2px solid black;
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffffc7;

    .stat-section {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .stat-section:first-child {
      border-right: 1px solid black;
    }

    span {
      display: flex;
      align-items: center;
    }

    img {
      height: 22px;
    }
  }

  &.death-action {
    background-image: url("../../../../../../assets/images/backgrounds/action/death.png");
  }

  &.electric-action {
    background-image: url("../../../../../../assets/images/backgrounds/action/electric.png");
  }

  &.fire-action {
    background-image: url("../../../../../../assets/images/backgrounds/action/fire.png");
  }

  &.leaf-action {
    background-image: url("../../../../../../assets/images/backgrounds/action/leaf.png");
  }

  &.rock-action {
    background-image: url("../../../../../../assets/images/backgrounds/action/rock.png");
  }

  &.water-action {
    background-image: url("../../../../../../assets/images/backgrounds/action/water.png");
  }

}