@import '../../../../../../styles.scss';
@import '../../../../../../assets/styles/constants.scss';

#monster-action {
  width: 300px;
  height: 200px;
  border: 4px solid black;
  border-radius: 6px;
  position: relative;
  background: white;
  cursor: pointer;

  &.selected {
    box-shadow: $recessed;
  }

  .stat-container {
    padding: 3px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: $header-font;
    font-size: 30px;
    line-height: 70%;
    color: black;
    border-bottom: 2px solid black;
    border-radius: 6px;
    background-color: white;

    .stat-section {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .stat-section:first-child {
      border-right: 1px solid black;
    }

    span {
      display: flex;
      align-items: center;
    }

    img {
      height: 22px;
    }
  }

  &.death {
    background-image: url("../../../../../../assets/images/backgrounds/action/death.png");
  }

  &.electric {
    background-image: url("../../../../../../assets/images/backgrounds/action/electric.png");
  }

  &.fire {
    background-image: url("../../../../../../assets/images/backgrounds/action/fire.png");
  }

  &.leaf {
    background-image: url("../../../../../../assets/images/backgrounds/action/leaf.png");
  }

  &.rock {
    background-image: url("../../../../../../assets/images/backgrounds/action/rock.png");
  }

  &.water {
    background-image: url("../../../../../../assets/images/backgrounds/action/water.png");
  }

}