<!-- <div id="monster-active">
    <div class="info-container">
      <div class="type">
        <img [src]="superEffectiveIcon">
      </div>
      <div class="elements">
        <ng-container *ngFor="let effectiveness of monster.getEffectivenessArray(); index as i" class="elements">
          <img *ngIf="effectiveness == -1" class="element-icon" src="{{getElementColorImg(ELEMENT_LIST[i])}}">
        </ng-container>
      </div>
    </div>
    <div class="info-container">
      <div class="elements">
        <ng-container *ngFor="let effectiveness of monster.getEffectivenessArray(); index as i">
          <img *ngIf="effectiveness >= 1" class="element-icon" src="{{getElementColorImg(ELEMENT_LIST[i])}}">
        </ng-container>
      </div>
      <div class="type">
        <div class="defense-value">{{monster.getSwitchDefenseValue()}}</div>
        <img [src]="switchDefenseIcon">
      </div>
    </div>
  <img [src]="monsterIcon" />
  <div class="stat-container">
    <div class="hp">{{ monster._currentHp }}/{{ monster._hp }}</div>
    <div class="hp-bar d-flex">
      <ng-container *ngFor="let _ of [].constructor(monster._hp); let i = index">
        <div class="hp-chunk" [ngClass]="{'damaged' : (i + 1) > monster._currentHp}"></div>
      </ng-container>
    </div>
    <div class="initiative">
      <div>{{ monster._initiative }}</div>
    </div>
  </div>
</div> -->