@import '../../../../../assets/styles/constants.scss';

#top-bar {
  --player-width: 12vw;
  display: flex;
  justify-content: center; 
  margin-bottom: 5px;
  .top-bar {
    background: linear-gradient(to right, 
    rgba(255, 255, 255, 0), 
    rgba(0, 0, 0, 0.6), 
    rgba(255, 255, 255, 0));
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0px;
    .player, .opponent {
      font-family: $text-font;
      width: var(--player-width);
      img {
        height: 20px;
      }
    }
    .opponent {
      text-align: right;
    }
    .round-info-container {
      .round-container {
        font-size: 22px;
        width: 330px;
        text-align: center;
      }
    }
  }
}