#dialog {
  width: 500px;
  font-size: 20px;
  position: absolute;
  bottom: 100px;
  left: 900px;
  background: #000000de;
  color: white;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  justify-content: center;
  z-index: 10000;
  .acknowledge-button {
    height: 50px;
    width: 50px;
    background: green;
    cursor: pointer;
  }
}