@import '/src/assets/styles/constants.scss';

#dialog {
  width: 500px;
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  background: #000000de;
  color: white;
  border-radius: 14px;
  z-index: 10000;

  .dialog-container {
    min-height: 100px;
  };

  .text {
    padding: 20px;
    font-family: $text-font;
    text-align: center;
  }

  .acknowledge-button {
    width: 500px;
    background: $default-button-color;
    border-radius: 4px;
    font-family: $text-font;
    line-height: 70%;
    font-size: 50px;
    padding: 10px;

    &.two-option {
      width: 240px;
      font-size: 20px;
    }
  }
  
}