
<!-- TODO: no actual difference yet, need to adjust top or bottom based on if user's or not -->
<ng-container *ngIf="action._index % 2 === 0">
  <div #ref 
    id="monster-action-tooltip" 
    class="tooltip-container" 
    *ngIf="show" [style.left]="left + 'px'" 
    [style.top]="top + 'px'" 
    [@slideInDownOnEnter] 
    [@fadeOutOnLeave] 
    (@fadeOutOnLeave.done)="aniDone($event)">
    <ng-container *ngTemplateOutlet="contents"></ng-container>
  </div>
</ng-container>
<ng-container *ngIf="action._index % 2 === 1">
  <div #ref 
    id="monster-action-tooltip" 
    class="tooltip-container" 
    *ngIf="show" 
    [style.left]="left + 'px'" 
    [style.top]="top + 'px'" 
    [@slideInDownOnEnter] 
    [@fadeOutOnLeave] 
    (@fadeOutOnLeave.done)="aniDone($event)">
    <ng-container *ngTemplateOutlet="contents"></ng-container>
  </div>
</ng-container>

<ng-template #contents>
  <div class="term-container" *ngFor="let term of terms">
    <sw-term-tooltip [title]="term.name" [description]="term.value" />
    <div class="dot">• • •</div>
  </div>
  <ng-container *ngIf="action._attack != null">
    <sw-effectiveness-tooltip [advantages]="advantages" />
  </ng-container>
</ng-template>