@import '../../../../..//assets/styles/constants.scss';

#standard-action {
  font-family: $header-font;
  line-height: 70%;
  font-size: 24px;
  border-radius: 4px;
  background-color: #efefef;
  width: 150px;
  filter: brightness(85%);
  transition: filter 0.3s ease;
  cursor: pointer;

  &.selected {
    filter: brightness(100%);
  }

  .sw-card-title { 
    padding: 4px;
    border-radius: 4px 4px 0px 0px;
  }

  .sw-card-text-container {
    background-color: unset;
    margin: 0 5px;

  }

  img {
    height: 20px;
  }

  img:not(:last-child) {
    margin-right: 4px;
  }
}

#standard-action:hover {
  filter: brightness(100%);
  transition: filter 0.3s ease;
}
