<div [ngClass]="{ 
  'tutorial-highlight' : isStandardActionHighlighted,
}" >
  <sw-pushable-button>
    <div id="standard-action" 
      [ngClass]="{ 
        'selected' : selected,
      }" 
      (click)="select()">
      <div class="sw-card-title">
        {{standardAction.name}}
      </div>
      <div class="sw-card-text-container">
        <div class="text" [innerHTML]=" standardAction.text | convertEmbeddedText : { excludeTerms: true, imageCss: 'embedded-icon-standard-action', termCss: 'embedded-term-text' }"></div>
      </div>
    </div>
  </sw-pushable-button>
</div>