@import '../../../../../../assets/styles/constants.scss';

#term-tooltip {
  background-color: #000000f0;;
  border-radius: 4px;
  padding: 3px 6px;
  .title {
    font-family: $header-font;
    font-size: 25px;
    line-height: 75%;
    margin-bottom: 3px;
    border-bottom: 1px white solid;
    padding-bottom: 4px;
    text-align: center;
  }
  .description {
    font-family: $text-font;
  }
  img {
    filter: invert(100%) !important;
  }
}