<div id="monster-action-card-icons">
  <div class="d-flex">
      <ng-container *ngFor="let type of cardTypes">
        <span 
        class="{{type.type.toLowerCase()}}" 
        [ngClass]="{ 'applied' : 
          (type.type === 'BUFF' && type.index < buffSlotsUsed) || 
          (type.type === 'DISCARD' && type.index < discardSlotsUsed)}">
          <img *ngIf="type.type === 'BUFF'" src={{buffImg}} [ngClass]="{'tutorial-highlight' : isBuffIconHighlighted}" />
          <img *ngIf="type.type === 'DRAW'" src={{drawImg}} [ngClass]="{'tutorial-highlight' : isDrawIconHighlighted}" />
          <img *ngIf="type.type === 'DISCARD'" src={{discardImg}} [ngClass]="{'tutorial-highlight' : isDiscardIconHighlighted}" />
        </span>
      </ng-container>
  </div>
</div>