<div id="monster-action-card-icons">
  <div class="d-flex">
      <ng-container *ngFor="let type of cardTypes">
        <span 
        class="{{type.type.toLowerCase()}}" 
        [ngClass]="{ 'applied' : 
          (type.type === 'BUFF' && type.index < icons._appliedBuff) || 
          (type.type === 'ADDED_BUFF' && icons._addedBuff > 0 && type.index < (icons._appliedBuff - icons._buff)) || 
          (type.type === 'DISCARD' && type.index < icons._appliedDiscard)}">
          <img *ngIf="type.type === 'BUFF'" src={{buffImg}} />
          <img *ngIf="type.type === 'DRAW'" src={{drawImg}} />
          <img *ngIf="type.type === 'DISCARD'" src={{discardImg}} />
          <img *ngIf="type.type === 'ADDED_BUFF'" src={{buffImg}} />
        </span>
      </ng-container>
  </div>
</div>