<div id="monster-action-card-icons">
  <div class="d-flex">
      <ng-container *ngFor="let type of cardTypes">
        <span 
        class="{{type.type.toLowerCase()}}" 
        [ngClass]="{ 'applied' : 
          (type.type === 'BUFF' && type.index < (selectedAction?.getNumBuffSlotsUsed() ?? 0)) || 
          (type.type === 'DISCARD' && type.index < (selectedAction?.getNumDiscardSlotsUsed() ?? 0))}">
          <img *ngIf="type.type === 'BUFF'" src={{buffImg}} />
          <img *ngIf="type.type === 'DRAW'" src={{drawImg}} />
          <img *ngIf="type.type === 'DISCARD'" src={{discardImg}} />
        </span>
      </ng-container>
  </div>
</div>