#monster-action-card-icons {
  position: absolute;
  bottom: 5px;
  div {
    span:not(:last-child) {
      margin-right: 5px;
    }
    img {
      height: 40px;
    }
    .added_buff {
      img {
        border: 4px solid rgb(135, 135, 255);
        border-radius: 3px;
      }
    }
    sw-svg-icon > span > svg > g {
      fill: green;
    }
    .applied {
      sw-svg-icon > span > svg > g {
        fill: green;
      }
      sw-svg-icon {
        .buff-svg {
          fill: green !important;
          svg {
            fill: green !important;
            g {
              path {
                fill: green !important;
              }
            }
          }
        }
      }
    }
  }
}