<div id="select-monster">
  <div class="view-button-container">
    <sw-pushable-button>
      <div class="header button" (click)="view()">
        <img [src]="ImageUtil.gui.magnifyingGlass" />
      </div>
    </sw-pushable-button>
  </div>
  <div class="select-monster {{monster.getBuffBackground()}}">
    <div class="monster-container">
      <div class="monster">
        <div class="d-flex justify-content-center">
          <img [src]="monsterIcon" />
        </div>
        <div class="name-container"> 
          <div class="header outline">{{monster.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!hideButtons" class="add-monster-container">
    <div class="button">
      <sw-pushable-button>
        <div class="text-header" (click)="toggle()">
          {{isAdded ? 'Remove' : 'Add'}}
        </div>
      </sw-pushable-button>
    </div>
    <div *ngIf="addToTeam && !isLead && isAdded" class="button">
      <sw-pushable-button>
        <div class="text-header" (click)="setAsLead()">
          Set As Lead
        </div>
      </sw-pushable-button>
    </div>
    <div *ngIf="isLead" class="lead text-header outline">Lead</div>
  </div>
</div>