@import '../../../../../../assets/styles/constants.scss';

#monster-action-grid {
  border-top: 1px black solid;
  display: flex;
  padding-top: 5px;

  .section-text {
    writing-mode: tb;
    font-family: $header-font;
    color: black;
    font-size: 20px;
    line-height: 70%;
    margin-right: 8px;
    text-shadow: $text-shadow-border;
  }

  .monster-action-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    width: 0;

    .action {
      border-top: 1px solid transparent;
    }

    .standard-action-container {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
    }
  }
}