#monster-action-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  row-gap: 10px;
  width: 0;

  .action {
    border-top: 1px solid transparent;
    padding-top: 10px;
  }

}