
@import './assets/styles/constants.scss';

.embedded-term-text {
  font-style: italic;
  font-size: 11px;
  div {
    display: inline-block;
  }
}
.embedded-icon {
  max-height: 19px;
}
.embedded-icon {
  max-height: 15px;
  &.inverse {
    filter: invert(100%);
  }
}
.chunk {
  display: inline-block;
}
b {
  text-decoration: underline;
}

.tooltip-container {
  position: fixed;
  background-color: #b9b9b985;
  border-radius: 4px;
  color: #ffffff;
  font-family: Arial;
  padding: 5px;
  font-size: 13px;
  opacity: 1;
  width: 250px;
  box-shadow: $shadow;
  z-index: $tooltip-index;
}

body {
  user-select: none;
}

.dot {
  color: black;
  text-align: center;
  font-size: 20px;
  line-height: 10px;
}

.sw-card-title {
  font-family: $header-font;
  font-size: 25px;
  line-height: 70%;
  background: black;
  color: white;
  text-align: center;
  padding: 0px 4px 4px 4px;
}

.sw-card-text-container {
  text-align: center;
  font-family: $text-font;
  line-height: 70%;
  margin: 5px;
  background-color: rgb(255 255 255 / 76%);
  padding: 5px;
  border-radius: 4px;
  position: relative;
  z-index: 5;
  .text {
    font-size: 13px;
    line-height: 16px;
    font-family: $text-font;
  }
}

.sw-card-hover {
  transition: transform 0.2s;
}
.sw-card-hover:hover {
  transform: scale(1.05);
  z-index: $action-hover-index;
  box-shadow: $shadow;
}

.card-separator-section {
  display: flex;
  padding-top: 5px;
  border-top: 1px solid black;
  margin-top: 5px;
  .card-separator {
    display: flex;
    font-family: $header-font;
    font-size: 30px;
    line-height: 70%;
    color: black;
    .section {
      margin-right: 5px;
      writing-mode: tb;
    }
  }
}

button {
  color: black;
  text-decoration: none;
  display: unset;
}

.stat-pip {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #36d317;
  border: 3px solid black;
  display: inline-flex;
  &.inverse {
    border: 3px solid white;
  }
}

.gain-stat-pip {
  font-family: $text-font;
  font-size: 20px;
  font-weight: 900;
  display: inline-flex;
  background: #dcf7dc;
  border-radius: 4px;
  padding: 2px 3px;
  align-items: center;
  color: black !important;
  div:not(:last-child) {
    margin-right: 2px;
  }
  img {
    filter: invert(0) !important;
    margin-right: 2px;
  }
}

.button-default {
  font-family: $text-font;
  font-size: 16px;
  line-height: 70%;
  background-color: #efefef;
  padding: 10px;
  border-radius: 4px;
}

@keyframes shrinkExpand {
  0%, 100% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(0.8);
  }
}

.tutorial-highlight {
  animation: shrinkExpand 2s ease-in-out infinite;
}

.tutorial-invert {
  display: inline-block;
  height: 26px;
  filter: invert(1);
}