@font-face { 
    font-family: 'Beastformer'; 
    src: url('../fonts/Beastformer.ttf') format('truetype');
} 
@font-face { 
    font-family: 'Helvetica'; 
    src: url('../fonts/Helvetica.ttc') format("ttc");
}