<div id="title-screen">
  <div class="title-screen-container">
    <img src="../../../../assets/images/logo/logo.png" />
    <div class="buttons-container">
      <div class="button">
        <sw-pushable-button>
          <div class="button-face" (click)="quickStart()">Quick Start</div>
        </sw-pushable-button>
      </div>
      <div class="button">
        <sw-pushable-button>
          <div class="button-face">Tutorial</div>
        </sw-pushable-button>
      </div>
    </div>
  </div>
</div>