<div id="title-screen">
  <div class="title-screen-container">
    <img src="../../../../assets/images/logo/logo.png" />
    <div class="common-buttons-container">
      <div class="button">
        <sw-pushable-button>
          <div class="button-face" (click)="fullGame()">Custom Game</div>
        </sw-pushable-button>
      </div>
      <div class="button">
        <sw-pushable-button>
          <div class="button-face" (click)="playOnline()">Play Online</div>
        </sw-pushable-button>
      </div>
      <div class="button">
        <sw-pushable-button>
          <div class="button-face" (click)="quickGame()">Quick Game</div>
        </sw-pushable-button>
      </div>
      <div class="button">
        <sw-pushable-button>
          <div class="button-face" (click)="tutorial()">Tutorial</div>
        </sw-pushable-button>
      </div>
      <div class="button">
        <sw-pushable-button>
          <div class="button-face" (click)="credits()">Credits</div>
        </sw-pushable-button>
      </div>
    </div>
  </div>
</div>